.sign-button-box {
  display: inline-flex;
}
.sign-button {
  cursor: pointer;
  user-select: none;
  color: rgb(231, 231, 231);
}
.disabled {
  color: rgb(134, 147, 163);
}
.icon {
  filter: hue-rotate(210deg);
}
@media screen and (orientation: portrait) {
  .weather-box .temp {
    margin: 0;
  }
  .display-info img {
    width: 5vw;
    margin-right: 1vw;
  }
  .display-info {
    font-size: 2vw;
  }
  .display-info .icon {
    width: 10vw;
    padding-top: 8.5vw;
  }
}
@media screen and (orientation: landscape) {
  .display-info h1,
  .display-info h2 {
    font-size: 2vw;
  }
  .display-info img {
    width: 1.25vw;
    margin-right: 0.25vw;
  }
  .display-info {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 1vw;
    width: 80%;
    height: 60%;
    margin: auto;
    padding: 2vh;
  }
  .display-info .icon {
    width: 5vw;
    margin: auto;
  }
  .temp,
  .high-low,
  .feels-like {
    grid-column: 1;
  }
  .icon,
  .humidity,
  .change-units {
    grid-column: 2;
  }
  .clouds,
  .wind,
  .wind-dr {
    grid-column: 3;
  }
  .temp,
  .icon,
  .clouds {
    grid-row: 1;
  }
  .high-low,
  .humidity,
  .wind {
    grid-row: 2;
  }
  .feels-like,
  .wind-dr,
  .change-units {
    grid-row: 3;
  }
}
