.weather-box .temp {
  padding-top: 40px;
  margin: 0;
}
.sign-button-box {
  display: inline-flex;
}
.sign-button {
  cursor: pointer;
  user-select: none;
  color: rgb(231, 231, 231);
}
.disabled {
  color: rgb(134, 147, 163);
}
.icon {
  filter: hue-rotate(210deg);
}
.display-info img {
  width: 2vw;
}
.display-info .icon {
  width: auto;
}
