/* Search box input */
input {
  box-shadow: 0px 1px 1px rgb(200, 200, 200);
  color: #ccc;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 38%,
    rgba(34, 34, 34, 1) 80%
  );
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  border: none;
}
.box1 input:focus {
  outline-color: var(--Var1);
  outline-width: 2px;
  outline-style: solid;
  box-shadow: 0px 3px 2px var(--Var1);
}
.box1 input:hover {
  outline-color: var(--Var1);
  box-shadow: 0px 3px 2px var(--Var1);
}
.box2 input:focus {
  outline-color: var(--Var2);
  outline-width: 2px;
  outline-style: solid;
  box-shadow: 0px 3px 2px var(--Var2);
}
.box2 input:hover {
  outline-color: var(--Var2);
  box-shadow: 0px 3px 2px var(--Var2);
}

/* Search button */
.weather-box button {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 38%,
    rgba(34, 34, 34, 1) 80%
  );
  color: #ccc;
  border: 1px solid #111;
  border-radius: 40px;
  box-shadow: 0px 1px 1px rgb(200, 200, 200);
  padding: 10px;
}
.box1 button:hover {
  box-shadow: 0px 3px 2px var(--Var1);
}
.box2 button:hover {
  box-shadow: 0px 3px 2px var(--Var2);
}
.box1 button:active {
  background: rgb(34, 34, 34);
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 52%,
    rgba(17, 17, 17, 1) 90%
  );
  color: #aaa;
  box-shadow: 0px 3px 2px var(--Var1);
  outline-color: var(--Var1);
  outline-width: 2px;
  outline-style: solid;
}
.box2 button:active {
  background: rgb(34, 34, 34);
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 52%,
    rgba(17, 17, 17, 1) 90%
  );
  color: #aaa;
  box-shadow: 0px 3px 2px var(--Var2);
  outline-color: var(--Var2);
  outline-width: 2px;
  outline-style: solid;
}
