/* weather box */
.weather-box {
  background: rgb(148, 187, 233);
  background: radial-gradient(
    circle,
    rgba(148, 187, 233, 1) 0%,
    rgba(238, 204, 174, 1) 100%
  );
  width: 40vw;
  min-height: 80vh;
  text-align: center;
  border-radius: 35px;
  margin: auto;
}
.weather-box h1,
.weather-box h2,
.weather-box textarea,
.weather-box button,
.weather-box select {
  display: block;
  margin: 20px auto;
}
.padder:nth-child(1) {
  width: 20px;
  height: 30vh;
}

/* compare button */
.compare {
  display: block;
  margin: 5vh auto;
  margin-top: 2vh;
  margin-bottom: 10px;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 38%,
    rgba(34, 34, 34, 1) 80%
  );
  color: #ccc;
  border: 1px solid #111;
  border-radius: 40px;
  padding: 10px;
}
.compare:hover {
  box-shadow: 0px 3px 2px var(--Var3);
}
.compare:active {
  background: rgb(34, 34, 34);
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 52%,
    rgba(17, 17, 17, 1) 90%
  );
  color: #aaa;
  box-shadow: 0px 3px 2px var(--Var3);
  outline-color: var(--Var3);
  outline-width: 2px;
  outline-style: solid;
}
