:root {
  --Var1: rgb(0, 110, 255);
  --Var2: rgb(255, 153, 0);
  --Var3: rgb(200, 200, 200);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: #222;
}

/* Base */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  align-items: center;
  text-align: center;
}

/* weather box */
.weather-box {
  background-color: rgba(60, 99, 134, 0.534);
  width: auto;
  height: 50vh;
  text-align: center;
}
.weather-box h1,
.weather-box h2,
.weather-box textarea,
.weather-box button,
.weather-box select {
  display: block;
  margin: 20px auto;
}
.padder {
  height: 100px;
  width: auto;
}

/* Search box input */
.weather-box input {
  box-shadow: 0px 1px 1px rgb(200, 200, 200);
  color: #ccc;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 38%,
    rgba(34, 34, 34, 1) 80%
  );
  font-size: 20px;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  border: none;
}
.weather-box input:focus {
  outline-color: var(--Var2);
  outline-width: 2px;
  outline-style: solid;
  box-shadow: 0px 3px 2px var(--Var2);
}
.weather-box input:hover {
  outline-color: var(--Var2);
  box-shadow: 0px 3px 2px var(--Var2);
}
.weather-box:nth-child(2) input:focus {
  outline-color: var(--Var1);
  box-shadow: 0px 3px 2px var(--Var1);
}
.weather-box:nth-child(2) input:hover {
  outline-color: var(--Var1);
  box-shadow: 0px 3px 2px var(--Var1);
}

/* Search button */
.weather-box button {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 38%,
    rgba(34, 34, 34, 1) 80%
  );
  color: #ccc;
  font-size: 20px;
  border: 1px solid #111;
  border-radius: 40px;
  box-shadow: 0px 1px 1px rgb(200, 200, 200);
  padding: 10px;
}
.weather-box button:hover {
  box-shadow: 0px 3px 2px var(--Var2);
}
.weather-box:nth-child(2) button:hover {
  box-shadow: 0px 3px 2px var(--Var1);
}
.weather-box button:active {
  background: rgb(34, 34, 34);
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 52%,
    rgba(17, 17, 17, 1) 90%
  );
  color: #aaa;
  box-shadow: 0px 3px 2px var(--Var2);
  outline-color: var(--Var2);
  outline-width: 2px;
  outline-style: solid;
}
.weather-box:nth-child(2) button:active {
  box-shadow: 0px 3px 2px var(--Var1);
  outline-color: var(--Var1);
  outline-width: 2px;
  outline-style: solid;
}

/* compare button */
.compare {
  margin-bottom: 10px;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 38%,
    rgba(34, 34, 34, 1) 80%
  );
  color: #ccc;
  font-size: 20px;
  border: 1px solid #111;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0px 1px 1px var(--Var3);
}
.compare:hover {
  box-shadow: 0px 3px 2px var(--Var3);
}
.compare:active {
  background: rgb(34, 34, 34);
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 52%,
    rgba(17, 17, 17, 1) 90%
  );
  color: #aaa;
  box-shadow: 0px 3px 2px var(--Var3);
  outline-color: var(--Var3);
  outline-width: 2px;
  outline-style: solid;
}

/* Dropdown */
.dropdown {
  visibility: hidden;
}
.weather-box:focus-within .dropdown,
.dropdown:hover {
  visibility: visible;
}
.weather-box:nth-child(2):focus-within .dropdown,
.dropdown:hover {
  visibility: visible;
}
